{% extends "home/base.html" %}
{% block title %} Home {% endblock title %}
{% block subtitle %} Dashboard - Hotlist{% endblock subtitle %}
{% block content %}

{% endblock %}
{% block main %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Date of Occurrence</th>
                  <th>Security Name</th>
                  <th>Child Time</th>
                  <th>Parent Time</th>
                  <th>Indicator</th>
                  <th>Current Value</th>
                  <th>Threshold Value</th>
                  <th>Valid</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for each in hots %}
                <tr>
                  <td>{{ each.date }}</td>
                  <td>{{ each.eqName }}</td>
                  <td>{{ each.childtime }}</td>
                  <td>{{ each.parTime }}</td>
                  <td>{{ each.indicator }}</td>
                  <td>{{ each.current }}</td>
                  <td>{{ each.thresh }}</td>
                  <td>{{ each.valid }}</td>
                  
                </tr>
                {% endfor %}
{% endblock main%}
